@import "~bulma/bulma.sass";
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/monokai.css";

.note-content {
    table {
        @extend .table;
        @extend .is-striped;
    }

    ul, ol {
        margin-left: 2em;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1rem;
        @extend .title;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    pre {
        margin: 1em 0;
    }
}
