@model BaseNoteForm
@{
    ViewData["Title"] = "Create Note";
}

<h1>Create Note</h1>
<form asp-action="Create">
    <partial name="_Form" model="Model" />
    <input class="button is-success" type="submit" value="Create Note" />
</form>