@model BaseNoteForm
@{
    ViewData["Title"] = "Edit Note";
}

<h1>Edit Note</h1>

<form asp-action="Edit">
    <partial name="_Form" model="Model" />
    <input class="button is-success" type="submit" value="Update Note" />
</form>